Repository lab-brussels-1/All-about-trees-group4, pull requests merged in 2022-03, with the labels that each got.

#4 uploading Readme.md file
  .cspell.json
  README.md
  package-lock.json
  package.json
Labels: Readme

#6 adding links to the Readme.me file
  README.md
Labels: Readme

#7 adding all MD files
  .cspell.json
  planning/backlog.md
  planning/communication.md
  planning/constrains.md
  planning/design.md
  planning/development-strategy.md
  planning/retrospective.md
  planning/userpersona.md
Labels: planning, Readme

#8 add my availability time in communication part
  planning/communication.md
Labels: comunication, MD

#11 Haneefa Communication added
  planning/communication.md
Labels: comunication, planning, MD

#16 Readme.md trees picture adjustments
  README.md
  photos/trees.png
  planning/backlog.md
Labels: Readme, MD

#14 uploading the project backlog
  planning/backlog.md
Labels: planning, MD, backlog

#18 adding design.md file
  planning/Template.png
  planning/design.md
Labels: planning, MD

#21 Updating kiishi communication Availability
  planning/communication.md
Labels: comunication

#29 Planning: Updating design
  planning/assets/wireframe1.png
  planning/design.md
Labels: planning, design

#32 Adding the introduction
  .cspell.json
  index.html
  styles/style.css
Labels: Content

#22 updated development strategy
  planning/development-strategy.md
Labels: MD, development strategy

#33 description added
  index.html
  styles/style.css
Labels: HTML, CSS, Content

#35 updating photos
  index.html
  styles/style.css
Labels: HTML, CSS, development

#37 Footer
  index.html
  styles/style.css
Labels: HTML, CSS, Footer

#38 adding header and navigation bar
  .cspell.json
  index.html
  styles/style.css
Labels: HTML, Navigation-bar, CSS

#39 Updating the navigation bar
  styles/style.css
Labels: HTML, Navigation-bar, CSS

#40 updating the styling
  index.html
Labels: HTML, CSS

#41 Adding retrospective
  planning/retrospective.md
  styles/style.css
Labels: MD, Retrospective

#42 added comments for understanding the code
  index.html
  styles/style.css
Labels: HTML, CSS, development

#43 updated some retrospective information
  planning/retrospective.md
Labels: planning, Retrospective
